* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

button {
    margin-right: 10px;
}
.a {
    display: block;
  }


.hbd-gift {
    display: none;
}

.gift {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #e9c46a;
}

.gift::after {
    content: "";
    position:absolute;
    box-shadow:inset  0 10px rgba(0,0,0,0.3);
    width: 150px;
    height: 100px;
}

.gift::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 100px;
    background-color: #e76f51;
    left: 62px;
}

#click {
    display: none;
}

.click {
    position: absolute;
    background-color: #e9c46a;
    width: 170px;
    height: 40px;
    top: -40px;
    left: -10px;
    transform-origin: bottom left;
    transition: .3s;
    cursor: pointer;
}

.click::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 40px;
    background-color: #e76f51;
    left: 72px;
}

.click::after {
    content: ""; 
    position: absolute;
    width: 5px;
    height: 0px;
    border-bottom: 30px solid #e76f51;
    border-top: 30px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;;
    transform: rotate(-90deg);
    left: 65px;
    top: -47px;
}

#click:checked+.click {
    transform: rotate(-110deg) scale(0.85);
}

#click:checked~.wishes{
    z-index: 1;
    transform: scale(2.6);
    transition: .5s;
}

.wishes {
    text-transform: uppercase;
    position: absolute;
    z-index: -1;
}




